@using BudgetTracker.Web.Enums
@model BudgetTracker.Web.Models.Bill

@{
    ViewData["Title"] = "Create";
    Layout = "Dashboard_Layout";
}

<div class="content-wrapper">
    <div class="container-fluid flex-grow-1 container-p-y">
        <div class="row">
            <div class="col-xl">
                <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5 class="mb-0">Add Bill</h5>
                    </div>
                    <div class="card-body">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group mb-3">
                                <label asp-for="Name" class="form-label"></label>
                                <input type="text" asp-for="Name" class="form-control" placeholder="Name" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-3">
                                <label asp-for="TotalDue" class="form-label"></label>
                                <input type="number" asp-for="TotalDue" class="form-control" min="0" value="0" />
                                <span asp-validation-for="TotalDue" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-3">
                                <label asp-for="DueDate" class="form-label"></label>
                                <input type="date" asp-for="DueDate" class="form-control" />
                                <span asp-validation-for="DueDate" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-3">
                                <label asp-for="PaidDate" class="form-label"></label>
                                <input type="date" asp-for="PaidDate" class="form-control" />
                                <span asp-validation-for="PaidDate" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-3">
                                <label asp-for="Status" class="form-label"></label>
                                <select asp-for="Status" class="form-select" asp-items="Html.GetEnumSelectList<BillStatus>()"></select>
                                <span asp-validation-for="Status" class="text-danger"></span>
                            </div>
                            <div class="pt-4">
                                <button type="submit" class="btn btn-primary me-sm-3 me-1">Create</button>   
                                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
